[submodule "cookbooks/ubuntu"]
	path = cookbooks/ubuntu
	url = git://github.com/opscode-cookbooks/ubuntu.git
[submodule "cookbooks/apt"]
	path = cookbooks/apt
	url = git://github.com/opscode-cookbooks/apt.git
[submodule "cookbooks/postfix"]
	path = cookbooks/postfix
	url = git://github.com/opscode-cookbooks/postfix.git
[submodule "cookbooks/build-essential"]
	path = cookbooks/build-essential
	url = git@github.com:opscode-cookbooks/build-essential.git
[submodule "cookbooks/git"]
	path = cookbooks/git
	url = https://github.com/opscode-cookbooks/git
[submodule "cookbooks/postgresql"]
	path = cookbooks/postgresql
	url = git://github.com/opscode-cookbooks/postgresql.git
[submodule "ubuntu"]
	path = ubuntu
	url = git://github.com/opscode-cookbooks/ubuntu.git
[submodule "cookbooks"]
	path = cookbooks
	url = git://github.com/opscode-cookbooks/ubuntu.git
[submodule "cookbooks/dmg"]
	path = cookbooks/dmg
	url = git@github.com:opscode-cookbooks/dmg.git
[submodule "cookbooks/runit"]
	path = cookbooks/runit
	url = git@github.com:opscode-cookbooks/runit.git
[submodule "cookbooks/yum"]
	path = cookbooks/yum
	url = git@github.com:opscode-cookbooks/yum.git
